body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vh;
  background-image: url("/public/Egg.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
